#!/usr/bin/env bash

alias dl="cd ~/Downloads"
alias pj="cd ~/Projects"

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

alias itn="tmux -CC new -s "
alias it="tmux -CC at -t "

# Replace ls with eza
export EZA_COLORS="ur=0:uw=0:ux=0:ue=0:gr=0:gw=0:gx=0:tr=0:tw=0:tx=0:su=0:sf=0:xa=0"
alias ls="eza -lah -snew"
alias ll='eza -lbF --git'
